<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Account Deletion</h1>
    <p>
      <%= @user.firstname %>, your account has been removed from Rotten Mangoes.
    </p>
    <p>Goodbye.</p>
  </body>
</html>