<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading no-padding">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse_one" class="btn btn-darkgray btn-block panel-title">Search</a>
    </div>
    <div id="collapse_one" class="panel-collapse collapse">
      <div class="panel-body">
        <form role="form" class="form-inline">
          <%= render './movies/search' %>
        </form>
      </div>
    </div>

    <div class="panel-heading no-padding">
      <%= link_to "Submit a movie!", new_movie_path,
        class: "btn btn-darkgray btn-block panel-title"
      %>
    </div>
  </div>
</div>

<%= render 'movie' %>

  
</div>



