<div class= "container">
  <div class="row">
    <div class="col-sm-3" id="header-img">
      <img src='/images/logo.png'>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= render 'overlay' %>
    </div>
  </div>
  <div class="row">
  </div>
</div>
