@import "bootstrap-sprockets"
@import "bootstrap"

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.no-padding
  padding: 0
  margin: 0

.btn-gray
  background-color: #cccccc
  color: #FFFFFF
  &:hover
    opacity: 0.8

.btn-darkgray
  background-color: #404040
  color: #FFFFFF
  &:hover
    opacity: 0.8
    color: #cccccc


#cust-navbar
  background-color: black
  color: white
  .dropdown.open
    background-color: white
    color: black
    

.recent_added 
  color: #fff
  text-align: center
  font-family: Impact, Charcoal, sans-serif

.out_center
  text-align: center
  .in_center
    margin: auto
  


/* Since positioning the image, we need to help out the caption */
.carousel-caption 
  z-index: 1


/* Declare heights because of positioning of img element */
.carousel .item 
  height: 350px

.carousel img 
  top: 0
  left: 0
  height: 250px

.carousel-indicators
  margin-bottom: 0


.text-muted
  color: white

body
  padding-top: 70px
  position: abosolute
  margin: 0
  top: 0
  left: 0
  width: 100%
  height: 100%
  color: black
  background-color: white

#navbar-title
  a
    color: #ff2600

.home
  background-image: url('/images/grayscale.jpg')
  color: white  

#header-img
  img
    max-width: 250px

.show-movie-img
  text-align: center
  padding-top: 5%
  img
    -webkit-box-shadow: 5px 5px 15px 0px rgba(153,153,153,0.8)
    -moz-box-shadow: 5px 5px 15px 0px rgba(153,153,153,0.8)
    box-shadow: 5px 5px 15px 0px rgba(153,153,153,0.8)

#popover-img
  img
    max-height: 100%
    max-width: 100%

.borderless td, .borderless th
  border: none